<div class="caja-disponiblidad">
  <p class="titulo-almacen">UBICACION DE BIENES</p>

  <div class="datos-almacen">
    <div class="dato-almacen">
      <div class="primer-dato"><p>Estante</p></div>
      <p class="sepadador">:</p>
      <div class="segundo-dato"><p>1</p></div>
    </div>
    <div class="dato-almacen">
      <div class="primer-dato"><p>Espacio</p></div>
      <p class="sepadador">:</p>
      <div class="segundo-dato"><p>3</p></div>
    </div>
    <div class="dato-almacen">
      <div class="primer-dato"><p>Color</p></div>
      <p class="sepadador">:</p>
      <div class="segundo-dato"><p>Blanco</p></div>
    </div>
    <div class="dato-almacen">
      <div class="primer-dato"><p>Talla</p></div>
      <p class="sepadador">:</p>
      <div class="segundo-dato"><p>M</p></div>
    </div>
  </div>

  <div class="dibujo">

    <div class="lugar">
      <p>LUGAR 1</p>
      <div class="datos-lugar">
        <div class="dato-lugar">
          <div class="primer-dato-lugar"><p>COD. PAQUETE</p></div>
          <p class="separador-lugar">:</p>
          <div class="segundo-dato-lugar"><p>P16</p></div>
        </div>

        <div class="dato-lugar">
          <div class="primer-dato-lugar"><p>COD. PAQUETE</p></div>
          <p class="separador-lugar">:</p>
          <div class="segundo-dato-lugar"><p>P16</p></div>
        </div>

        <div class="dato-lugar">
          <div class="primer-dato-lugar"><p>COD. PAQUETE</p></div>
          <p class="separador-lugar">:</p>
          <div class="segundo-dato-lugar"><p>P16</p></div>
        </div>

        <div class="dato-lugar">
          <div class="primer-dato-lugar"><p>COD. PAQUETE</p></div>
          <p class="separador-lugar">:</p>
          <div class="segundo-dato-lugar"><p>P16</p></div>
        </div>
      </div>
    </div>

    <div class="lugar">
      <p>LUGAR 1</p>
      <div class="datos-lugar">
        <div class="dato-lugar">
          <div class="primer-dato-lugar"><p>COD. PAQUETE</p></div>
          <p class="separador-lugar">:</p>
          <div class="segundo-dato-lugar"><p>P16</p></div>
        </div>

        <div class="dato-lugar">
          <div class="primer-dato-lugar"><p>COD. PAQUETE</p></div>
          <p class="separador-lugar">:</p>
          <div class="segundo-dato-lugar"><p>P16</p></div>
        </div>

        <div class="dato-lugar">
          <div class="primer-dato-lugar"><p>COD. PAQUETE</p></div>
          <p class="separador-lugar">:</p>
          <div class="segundo-dato-lugar"><p>P16</p></div>
        </div>

        <div class="dato-lugar">
          <div class="primer-dato-lugar"><p>COD. PAQUETE</p></div>
          <p class="separador-lugar">:</p>
          <div class="segundo-dato-lugar"><p>P16</p></div>
        </div>
      </div>
    </div>

    <div class="lugar">
      <p>LUGAR 1</p>
      <div class="datos-lugar">
        <div class="dato-lugar">
          <div class="primer-dato-lugar"><p>COD. PAQUETE</p></div>
          <p class="separador-lugar">:</p>
          <div class="segundo-dato-lugar"><p>P16</p></div>
        </div>

        <div class="dato-lugar">
          <div class="primer-dato-lugar"><p>COD. PAQUETE</p></div>
          <p class="separador-lugar">:</p>
          <div class="segundo-dato-lugar"><p>P16</p></div>
        </div>

        <div class="dato-lugar">
          <div class="primer-dato-lugar"><p>COD. PAQUETE</p></div>
          <p class="separador-lugar">:</p>
          <div class="segundo-dato-lugar"><p>P16</p></div>
        </div>

        <div class="dato-lugar">
          <div class="primer-dato-lugar"><p>COD. PAQUETE</p></div>
          <p class="separador-lugar">:</p>
          <div class="segundo-dato-lugar"><p>P16</p></div>
        </div>
      </div>
    </div>

    <div class="lugar-vacio">
      <p>LUGAR 1</p>
      <div class="datos-lugar">
        <div class="dato-lugar">
          <div class="primer-dato-lugar"><p>COD. ORDEN</p></div>
          <p class="separador-lugar">:</p>
          <input type="text" class="segundo-dato-lugar">
        </div>

        <div class="dato-lugar">
          <div class="primer-dato-lugar"><p>COD. PAQUETE</p></div>
          <p class="separador-lugar">:</p>
          <input type="text" class="segundo-dato-lugar">
        </div>

        <button class="boton"><p>VERIFICAR</p></button>
      </div>
    </div>


  </div>
</div>
