<div class="caja-disponiblidad">
  <p class="titulo-almacen">UBICACION DE BIENES</p>

  <div class="datos-almacen">
    <div class="dato-almacen">
      <div class="primer-dato"><p>Estante</p></div>
      <p class="sepadador">:</p>
      <div class="segundo-dato"><p>{{valorEstanteLlegada}}</p></div>
    </div>
    <div class="dato-almacen">
      <div class="primer-dato"><p>Espacio</p></div>
      <p class="sepadador">:</p>
      <div class="segundo-dato"><p>{{valorEspacioLlegada}}</p></div>
    </div>
    <div class="dato-almacen">
      <div class="primer-dato"><p>Color</p></div>
      <p class="sepadador">:</p>
      <div class="segundo-dato"><p>{{cabecera?.colorEstante}}</p></div>
    </div>
    <div class="dato-almacen">
      <div class="primer-dato"><p>Talla</p></div>
      <p class="sepadador">:</p>
      <div class="segundo-dato"><p>{{cabecera?.tallaEspacio}}</p></div>
    </div>
  </div>

  <div class="dibujo">

    <div  *ngFor="let item of lista">
      <div class="lugar" *ngIf="obtenerBool(item)">
        <p>LUGAR {{item}}</p>
        <div class="datos-lugar">
          <div class="dato-lugar">
            <div class="primer-dato-lugar"><p>COD. PAQUETE</p></div>
            <p class="separador-lugar">:</p>
            <div class="segundo-dato-lugar"><p>{{paquetes[item-1]?.idPaquete}}</p></div>
          </div>

          <div class="dato-lugar">
            <div class="primer-dato-lugar"><p>T</p></div>
            <p class="separador-lugar">:</p>
            <div class="segundo-dato-lugar"><p>{{paquetes[item-1]?.tipoBien}}</p></div>
          </div>

          <div class="dato-lugar">
            <div class="primer-dato-lugar"><p>#</p></div>
            <p class="separador-lugar">:</p>
            <div class="segundo-dato-lugar"><p>{{paquetes[item-1]?.unidades}}</p></div>
          </div>
        </div>
      </div>

      <div *ngIf="!obtenerBool(item)">
        <div class="lugar-vacio">
          <p>LUGAR {{item}}</p>
          <div class="datos-lugar">
            <div class="dato-lugar">
              <div class="primer-dato-lugar"><p>COD. ORDEN</p></div>
              <p class="separador-lugar">:</p>
              <input type="text" class="segundo-dato-lugar">
            </div>

            <div class="dato-lugar">
              <div class="primer-dato-lugar"><p>COD. PAQUETE</p></div>
              <p class="separador-lugar">:</p>
              <input type="text" class="segundo-dato-lugar">
            </div>

            <button class="boton"><p>VERIFICAR</p></button>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
