<div class="caja-control">
  <p class="titulo-control">CONTROL DE LLEGADA</p>
    <div class="contenido-control">
      <div class="conjunto-control">
        <div class="cuadro-texto">
          <p class="titulo-cuadro">CÓDIGO DE CITA</p>
          <input type="text" name="" id="" class="input-verificar" placeholder="CR1">
        </div>
        <button class="boton-verificar">
          <p class="texto-boton-verificar">Verificar</p>
        </button>
        <div class="cuadro-texto2">
          <p class="titulo-cuadro2">CÓDIGO DE ORDEN</p>
          <input type="text" disabled name="" id="" class="input-verificar2" placeholder="Esperando código de cita">
        </div>
      </div>
    </div>
</div>

<div class="caja-cita">
  <p class="titulo-caja-cita">CITA ASOCIADA</p>
    <div class="caja-fechas">
      <div class="cuadro-fecha-programada">
        <p class="titulo-fecha-programada">FECHA Y HORA DE LLEGADA PROGRAMADA</p>
          <div class="caja-programacion">
            <input type="text" class="input-fecha-p">
            <input type="text" class="input-hora-p">
          </div>
      </div>
      <div class="cuadro-fecha-real">
        <p class="titulo-fecha-real">FECHA Y HORA DE LLEGADA REAL</p>
          <div class="caja-real">
            <input type="text" class="input-fecha-r">
            <input type="text" class="input-hora-r">
          </div>
      </div>
    </div>
    <div class="contenido-identidades">
      <div class="caja-transportista">
        <p class="titulo-transportista">IDENTIDAD DEL TRANSPORTISTA</p>
        <div class="fila-dni-transportista">
          <div class="check"><p>X</p></div>
          <div class="cuadro-dni"><p>DNI</p></div>
          <input type="text" class="input-dni" placeholder="Ingrese el dato">
        </div>
        <div class="fila-dni-transportista">
          <div class="check"><p>X</p></div>
          <div class="cuadro-dni"><p>NOMBRES</p></div>
          <input type="text" class="input-dni" placeholder="Ingrese el dato">
        </div>
      </div>

      <div class="caja-transportista">
        <p class="titulo-transportista">RESPONSABLE DE RECEPCION</p>
        <div class="fila-dni-transportista">
          <div class="check"><p>X</p></div>
          <div class="cuadro-dni"><p>DNI</p></div>
          <input type="text" class="input-dni" placeholder="Ingrese el dato">
        </div>
        <div class="fila-dni-transportista">
          <div class="check"><p>X</p></div>
          <div class="cuadro-dni"><p>NOMBRES</p></div>
          <input type="text" class="input-dni" placeholder="Ingrese el dato">
        </div>
      </div>
    </div>

    <div class="caja-paquetes">

      <div class="fila-paquete">
        <div class="codigo-paquete">
          <p class="titulo-codigo">CÓDIGO DE PAQUETE</p>
          <input type="text" placeholder="Ingrese el código" class="input-codigo">
        </div>
        <div class="tipo-paquete">
          <p class="titulo-codigo">TIPO DE BIEN</p>
          <input type="text" placeholder="Ingrese el tipo de bien" class="input-codigo">
        </div>
        <div class="cantidad-unidades">
          <p class="titulo-codigo">CANTIDAD DE UNIDAD</p>
          <input type="text" placeholder="Ingrese la cantidad de unidades" class="input-codigo">
        </div>
        <button class="boton-agregar"><p>AGREGAR</p></button>
        <button class="boton-eliminar"><p>ELIMINAR</p></button>
      </div>

      <div class="fila-paquete">
        <div class="codigo-paquete">
          <p class="titulo-codigo">CÓDIGO DE PAQUETE</p>
          <input type="text" placeholder="Ingrese el código" class="input-codigo">
        </div>
        <div class="tipo-paquete">
          <p class="titulo-codigo">TIPO DE BIEN</p>
          <input type="text" placeholder="Ingrese el tipo de bien" class="input-codigo">
        </div>
        <div class="cantidad-unidades">
          <p class="titulo-codigo">CANTIDAD DE UNIDAD</p>
          <input type="text" placeholder="Ingrese la cantidad de unidades" class="input-codigo">
        </div>
        <button class="boton-agregar"><p>AGREGAR</p></button>
        <button class="boton-eliminar"><p>ELIMINAR</p></button>
      </div>
    </div>

    <div class="botones-finales">
      <button class="boton-final"><p>Registrar</p></button>
      <button class="boton-final"><p>Limpiar Datos</p></button>
      <button class="boton-final"><p>Comprobar disponibilidad total</p></button>
    </div>
</div>

